body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#navbar {
  background-color: white;
  /* position: fixed;
  top: 0px;
  z-index: 1; */
  gap: 20px;
  #navbarSupportedContent {
    .navbar-nav {
      .nav-item {
        .nav-link.nav-link:hover {
          color: blue;
        }
      }
      button {
        height: 40px;
        width: 100px;
        border: 2px blue solid;
        border-radius: 5px;
        background-color: white;
      }
      button:hover {
        background-color: blue;
        color: white;
      }
    }
  }
  #button {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.662);
    border: none;
    color: white;
  }
}
#a1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-image: url("https://assets-v2.scaler.com/assets/academy/svg/banner-background-34136d3a9ddff172e6bae6e3d8283c452231dcda2196b055bfa2e34e222754b7.svg");
  height: 700px;
  width: 100%;
  padding: 0px;
  position: relative;
  #a2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 50%;
    padding: 0px 40px;
    #h1 {
      font-size: 30px;
      width: 350px;
      color: white;
    }
    #h2 {
      font-size: 20px;
      color: skyblue;
      b {
        font-size: 30px;
        color: white;
      }
    }
    #h3 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      #book {
        height: 40px;
        width: 180px;
        border-radius: 5px;
        background-color: rgba(255, 0, 0, 0.61);
        border: none;
        color: white;
      }
      #book:hover {
        background-color: rgba(255, 0, 0, 0.865);
        color: white;
      }
      #explore {
        height: 40px;
        width: 180px;
        border-radius: 5px;
        border: none;
        background-color: white;
        color: blue;
      }
    }
    #h4 {
      font-size: 20px;
      color: white;
      b {
        font-size: 20px;
        color: rgba(255, 166, 0, 0.694);
      }
    }
  }
  #a3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    width: 500px;
    padding: 30px 30px;
    border-radius: 10px;
    /* height: 550px; */
    #a4 {
      font-size: 30px;
      b {
        color: rgba(165, 42, 42, 0.621);
      }
    }
    #form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      height: 300px;
      form {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        #a0 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          input {
            height: 47px;
            width: 400px;
          }
        }
        #a6 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          gap: 10px;
          padding: 30px 30px;
          #a7 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 1px black solid;
            padding: 10px;
          }
          input {
            height: 47px;
            width: 300px;
          }
        }
        #b0 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;
          input {
            height: 40px;
            width: 150px;
          }
          select {
            height: 40px;
            width: 250px;
          }
        }
        #b7 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          padding: 20px;
          #company {
            height: 40px;
            width: 400px;
          }
          #jobtitle {
            height: 40px;
            width: 400px;
          }
        }
        #b1 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          border: 1px gainsboro solid;
          height: 40px;
          padding: 10px 20px;
          /* width: 400px; */
          #b2 {
            font-size: 20px;
          }
          #b3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            #b4 {
              font-size: 15px;
            }
            #b5 {
              font-size: 15px;
              color: gray;
            }
          }
        }
        #a9 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 10px;
          padding: 20px 0px;
          button {
            height: 40px;
            width: 230px;
            border-radius: 5px;
            background-color: rgba(255, 0, 0, 0.61);
            border: none;
          }
          #a10 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            #i1 {
              font-size: 20px;
              color: rgba(255, 0, 0, 0.557);
            }
            #a11 {
              font-size: 15px;
              color: rgba(255, 0, 0, 0.557);
            }
          }
        }
        #a11 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          padding: 15px 20px;
          gap: 10px;
          #a12 {
            font-size: 15px;
            b {
              color: skyblue;
            }
          }
          #a13 {
            font-size: 10px;
          }
        }
      }
    }
  }
}
#website {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 700px;
  gap: 40px;
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    #c1 {
      font-size: 30px;
      b {
        font-weight: bold;
      }
    }
    #c2 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 20px 0px;
      .card {
        text-align: center;
        align-items: center;
        padding: 40px;
        height: 100%;
        width: 100%;
        position: relative;
        overflow: hidden;
        img {
          height: 50px;
          width: 70px;
        }
        .card-body {
          height: 100%;
          width: 100%;
          .card-text {
            font-size: 20px;
            color: white;
          }
          #line1 {
            height: 30px;
            width: 150px;
            background-color: rgba(255, 166, 0, 0.76);
            rotate: 45deg;
            position: absolute;
            top: 0px;
            right: -35px;
          }
          #line2 {
            height: 30px;
            width: 150px;
            background-color: violet;
            rotate: 45deg;
            position: absolute;
            top: 0px;
            right: -35px;
          }
          #line3 {
            height: 30px;
            width: 150px;
            background-color: lightseagreen;
            rotate: 45deg;
            position: absolute;
            top: 0px;
            right: -35px;
          }
          #line4 {
            height: 30px;
            width: 150px;
            background-color: yellow;
            rotate: 45deg;
            position: absolute;
            top: 0px;
            right: -35px;
          }
          #line5 {
            height: 30px;
            width: 150px;
            background-color: skyblue;
            rotate: 45deg;
            position: absolute;
            top: 0px;
            right: -35px;
          }
          #line6 {
            height: 30px;
            width: 150px;
            background-color: orange;
            rotate: 45deg;
            position: absolute;
            top: 0px;
            right: -35px;
          }
        }
      }
    }
  }
  #design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    #d1 {
      font-size: 30px;
    }
    #d2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px 0px;
      #d3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        gap: 20px;
        .card {
          padding-top: 20px;
          text-align: center;
          align-items: center;
          .card-body {
            height: 100%;
            width: 100%;
            text-align: center;
            align-items: center;
            .card-title {
              font-size: 25px;
              .card-text {
                font-size: 20px;
              }
            }
          }
        }
      }
      #d4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 40px;
        gap: 20px;
        padding: 20px;
        .card {
          padding-top: 20px;
          text-align: center;
          align-items: center;
          .card-body {
            height: 100%;
            width: 80%;
            text-align: center;
            align-items: center;
            .card-title {
              font-size: 25px;
              .card-text {
                font-size: 20px;
                width: 500px;
              }
            }
          }
        }
      }
    }
  }
  #part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(173, 216, 230, 0.267);
    #p0 {
      font-size: 30px;
    }
    #p1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 20px 20px;
      gap: 20px;
      #p2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 150px;
        padding: 20px 20px;
        border: 1px rgba(128, 128, 128, 0.347) solid;
        #p3 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          #p4 {
            font-size: 25px;
            font-weight: bold;
          }
          #p5 {
            font-size: 15px;
          }
        }
      }
      #p6 {
        /* border: 2px black solid;
        border-radius: 50%; */
        input {
          height: 40px;
          width: 50px;
        }
      }
    }
    #part2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 95%;
      gap: 150px;
      padding: 70px 20px;
      position: relative;
      background-color: rgba(173, 216, 230, 0.267);
      #part3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        /* padding: 20px 20px; */
        #p7 {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: start;
          gap: 50px;
          border-radius: 5px;
          padding: 10px 10px;
          background-color: white;
          width: 500px;
          #p8 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            #p9 {
              font-size: 15px;
            }
            #p10 {
              font-size: 20px;
            }
          }
          #p11 {
            font-size: 15px;
          }
        }
      }
      #part0 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        #part4 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 50px 40px;
          background-color: #387ef7;
          overflow: scroll;
          top: 0px;
          #part5 {
            height: 350px;
            #m1 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              border-radius: 5px;
              gap: 10px;
              width: 300px;
              /* padding: 20px 20px; */
              #m2 {
                font-size: 15px;
                border-bottom: 2px white solid;
                width: 100%;
                color: white;
              }
              #m3 {
                font-size: 15px;
                color: white;
                b {
                  font-size: 40px;
                }
              }
              #m4 {
                ul {
                  li {
                    color: white;
                  }
                }
              }
            }
          }
        }
        button {
          height: 40px;
          width: 400px;
          border: none;
          color: white;
          border-radius: 5px;
          background-color: rgba(255, 0, 0, 0.644);
        }
        button:hover {
          background-color: rgba(255, 0, 0, 0.543);
        }
      }
    }
  }
  #talk {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
    color: white;
    background: linear-gradient(to right, navy 50%, rgb(32, 32, 216));
    #t0 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      padding: 20px 0px;
      width: 100%;
      gap: 20px;
      #t1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        #t2 {
          font-size: 40px;
        }
        #t3 {
          font-size: 20px;
        }
      }
      #t4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 20px;
        #t5 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: start;
          gap: 7px;
        }
      }
      button {
        height: 50px;
        width: 200px;
        border-radius: 5px;
        background-color: rgba(255, 0, 0, 0.61);
        border: none;
        color: white;
      }
    }
    #talk2 {
      .hide-in-mobile {
        height: 100%;
        width: 500px;
      }
    }
  }
  #discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    #d1 {
      font-size: 30px;
    }
    #d0 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 20px;
      #d2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        button {
          height: 40px;
          width: 100px;
          border-radius: 50px;
          background-color: gainsboro;
          border: none;
        }
      }
      #d4 {
        button {
          height: 40px;
          width: 100px;
          border-radius: 50px;
          background-color: gainsboro;
          border: none;
        }
      }
    }
    #discover1 {
      button {
        height: 40px;
        width: 200px;
        border-radius: 5px;
        background-color: rgba(255, 0, 0, 0.799);
        color: white;
        border: none;
      }
      botton:hover {
        background-color: rgba(255, 0, 0, 0.571);
        box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.429);
      }
    }
  }
  #reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #r0 {
      font-size: 30px;
      width: 850px;
    }
    #r1 {
      font-size: 15px;
    }
    #cards {
      width: 97vw;
      /* border: 2px solid black; */
      gap:20px;
      display: grid;
      overflow-x: scroll;
      grid-template-columns: repeat(12,1fr);
      padding: 10px;
      box-shadow: none;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         width: 350px;
         padding: 30px;
         gap: 10px;
        #h1 {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;
          gap: 20px;
          #headers {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 120px;
            #m0 {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              #m1 {
                font-size: 16px;
                width: 120px;
              }
            }
          }
        }
      }
    }
  }
  #teaching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    #t0 {
      font-size: 25px;
    }
    #p {
      text-align: center;
      font-size: 20px;
      width: 900px;
    }
    #t1 {
    }
    #carouselExample {
      width: 100%;
      .carousel-inner {
        .carousel-item {
          #cards {
            gap: 20px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .card {
              .card-header {
              }
              .card-body {
                .card-title {
                  color: black;
                  .card-text {
                  }
                }
              }
              .card-footer{
                font-size: 20px;
                color: #0744ad;
              }
              .card-footer:hover {
                color: skyblue;
              }
            }
          }
        }
      }
    }
  }
  #scaler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    background-color: skyblue;
    #s1 {
      border-radius: 100%;
      padding: 30px;
      background-color: lightskyblue;
    }
    #s2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      #s3 {
        font-size: 30px;
      }
      #s4 {
        font-size: 18px;
      }
    }
    #s5 {
      button {
        height: 40px;
        width: 200px;
        border-radius: 5px;
        border: none;
        background-color: white;
        color: black;
      }
    }
  }
  #next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    background-color: rgba(173, 216, 230, 0.432);
    #n1 {
      font-size: 31px;
    }
    #n2 {
      font-size: 30px;
    }
    #p {
      font-size: 17px;
      width: 80%;
      b {
        color: #358;
      }
    }
    #n3 {
      font-size: 18px;
      color: #358;
    }
    #n4 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      #n5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        gap: 40px;
        padding: 20px 0px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        #n6 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          #n7 {
            font-size: 20px;
            width: 200px;
          }
        }
      }
      #n8 {
        padding: 20px;
        background-color: lightskyblue;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }
  }
  #services{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap:10px;
    box-shadow: none;
    #s1{
      font-size:30px;
      font-weight: bold;
    }
    #s2{
      font-size: 17px;
      color: gray;
    }
    #cards{
      display: flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      gap:20px;
      box-shadow: none;
      .card{
        height:200px;
        width:150px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:10px;
        img{
          height:70px;
          width:70px;
          align-items: center;
          text-align: center;
          margin-top: 20px;
        }
        .card-body{
          .card-text{
            width:220px;
            color: gray;
          }
        }
      }
    }
  }
  #roadmap{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#cae0fec1 ;
    gap:50px;
    width:100%;
    padding:20px;
    #r1{
      font-size: 30px;
      width:1000px;
      text-align:center;
    }
    button{
      height:40px;
      width:350px;
      background-color: #e12645;
      color:white;
      border-radius: 5px;
      border:none;
    }
  }
  #learning{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #l0{
      font-size: 30px;
      width: 1050px;
      text-align: center;
    }
    #l1{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      padding: 20px;
      gap: 20px;
    .card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 90px;
    height: 350px;
    width: 470px;
    border-radius: 5px;
    background-image: url(https://assets-v2.scaler.com/assets/academy/svg/carousel-1-f8b2a8715c72d8a7ee95dee86294c20875ab6961b6c5d51c4e4b1ef7ba1f6ce5.svg.gz);
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 20px;

    }
    }
  }
  }
  #question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    #q1 {
      font-size: 35px;
    }
    #q2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-top: 1px black solid;
      #q3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        border-right: 0px black solid;
        padding: 23px;
        #q4 {
          font-size: 18px;
          width: 100%;
        }
      }
      #q5 {
        border-left: 1px black solid;
        gap: 20px;
        padding: 20px 40px;
        width: 900px;
        #q6 {
          font-size: 30px;
        }
        #accordionPanelsStayOpenExample {
          width: 900px;
          padding: 20px 20px;
          .accordion-item {
            margin-bottom: 20px;
            .accordion-header button {
              background: none;
              border: none;
              outline: none;
              box-shadow: none;
              font-size: 18px;
            }
            .accordion-button:hover {
              color: skyblue;
            }
          }
        }
      }
    }
  }
  #explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    #e0{
      font-size: 40px;
    }
    #e1{
      font-size: 20px; ;
      b{
        border-bottom: 2px skyblue solid;
      }
    }
    #e2{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px 40px;
      width: 60%;
      .row{
        .col{
          .card{
            height:300px;
            width: 200px;
            border-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border: none;
            img{
              position: relative;
            }
            #e3{
              font-size: 20px;
              text-align: center;
              width: 287px;
              color: white;
              background: linear-gradient(to right,skyblue,rgba(255, 255, 255, 0.375));
              position: absolute;
              top: 95px;

            }
            .card-body{
              .card-text{
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: start;
                text-align: start;
                gap: 10px;

              }
            }
            .card-body:hover{
              box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.548);
            }
          }
        }
      }
    }
    #e4{
      button{
        height: 40px;
        width: 250px;
        background-color: rgba(255, 0, 0, 0.621);
        color: white;
        border: none;
        font-size: 15px;
        border-radius: 7px;

      }
      button:hover{
        background-color: rgba(255, 0, 0, 0.315);
      }
    }
  }
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #202738;
    padding: 30px 148px;
    gap: 30px;

    #part1 {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 130px;
      border-bottom: 2px skyblue solid;
      padding: 20px;
      #one {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 40px;
        #main {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          /* gap: 0px; */

          #photo {
            width: 100px;
            height: 50px;
          }
          #line {
            color: white;
          }
          #photo2 {
            width: 150px;
            height: 25px;
          }
        }
        #sub {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: start;

          #block {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 8px;
            #first {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              gap: 5px;
              #text {
                color: white;
              }
            }
          }
        }
      }
      #two {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 25px;
          color: white;
        }
        #matter {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;
          #text {
            font-size: 17px;
          }
        }
      }
      #three {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 24px;
          color: white;
        }
        #matter {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;
          #text {
            font-size: 17px;
          }
        }
      }
      #four {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        #heading {
          font-size: 25px;
          color: white;
        }
        #matter {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          color: #698fb1;

          #line {
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: start;
            gap: 10px;
            #text {
              font-size: 17px;
            }
          }
        }
      }
    }
    #part2 {
      color: #698fb1;
    }
    #part3 {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 10px;
      #heading {
        color: white;
        font-size: 23px;
      }
      #lines {
        color: #698fb1;
      }
    }
  }
}
